:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-backround-color: #f5f4fa;
  --footer-background-color: #2f303a;
}


*,
::after,
::before {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


img {
  display: block;
  width: 100%;
}



.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}





/* ДОМИНАНТНЫЙ */

.page {
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}






/*------------------- HEADER -------------------*/

.page-header {
  background-color: var(--white-color);
  border: 1px solid #ECECEC;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV */

.site-nav,
.hover{
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


/* LOGO */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-right: 93px;
}

.logo-web {
  color: var(--brand-color);
}

/* MENU */

.menu-list{
  display: flex;
}

.header-contact-item .header-contact-link,
.site-nav .link{
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.menu-list-item:not(:last-child){
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--brand-color);
}



/* CONTACTS */

.header-contacts{
  display: flex;
}

.header-contact-item{
  margin-right: 30px;
}



.header-contact-link{
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hover a:hover,
.hover a:focus {
  color: var(--brand-color);
}





/*------------------- HERO -------------------*/



.hero {
  height: 600px;
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.hero-button {
  height: 50px;
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*------------------- SECTION FEATURES (WITH HIDDEN H2) -------------------*/

.hidden {
  display: none;
}


.features{
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list{
  display: flex;
  justify-content: space-between;
}

.features-list-item {
  width: 270px;
}
.features-list-item:last-child{
  margin-right: 0;
}

.features-list-item .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px
}



/*------------------- SECTION  WHAT WE DO -------------------*/


.what-we-do-title{
  margin-bottom: 50px;
}


.what-we-do-list{
  display: flex;
}


.what-we-do-item:not(:last-child){
  margin-right: 30px;
}



/*------------------- SECTION OUR TEAM-------------------*/

.section.team {
  background-color: var(--secondary-backround-color);
  padding-bottom: 94px;
  padding-top: 94px;
}



.team-title{
  margin-bottom: 50px;
}

.team-list{
  display: flex;
}


.team-list-item{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child){
  margin-right: 30px;
}


.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

}

.team-list .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}


/*------------------- FOOTER -------------------*/

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer .address {
  color: var(--white-color);
  font-style: normal;
}

.footer .link {
  display: inline-block;
  color: var(--fotter-link-color);
  font-style: normal;
  margin-top: 9px;
}



/*------------------- PORTFOLIO -------------------*/


.portfolio{
  padding-top: 100px;
  padding-bottom: 94px;
}


/* FILTER  */
.filter-list{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child){
  margin-right: 8px;
}


.filter-button {
  font-family: Roboto;
  background-color: var(--secondary-backround-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .filter-list button:hover{
    border-color: transparent;
    outline: none;
} */


/* WORKS */

.portfolio-div{
  border: 1px solid #EEEEEE;
  border-top: none;
}


.portfolio-section-link{
  display: inline-block;
}


.portfolio-section-link:hover,
.portfolio-section-link:focus{
box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section-item{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-section-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-section-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 20px 4px 20px;
}

.portfolio-section-list .type {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 20px;  
  margin-left: 20px;
  margin-right: 20px;
}






/* 3 домашка 

.container{
    width: 1200px;
    pl: 15px;
    pr: 15px;
    ml: auto;
    mr: auto;
}

.site-nav{
    display: flex;
    align-items: center;
}

a.site-nav {
    pt: 32px;
    pb: 32px;
    display: inline-block;
}

paddingi v sections

img display: block
