*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --special-color: #2196f3;
  --white-color: #ffffff;
}

/* var(--primary-text-color);*/

/* ================================ FEATURES ================================*/
.our-team-list,
.navigation-list-items,
.specials-items,
.what-we-do-list,
.card-person-list,
.address-tel-phone-title {
  list-style-type: none;
}

.navigation-list-link,
.navigation-list-link .studio-link,
.logo-web,
.navigation-contact,
.header-phone,
.button,
.address-link,
.card-person-list {
  text-decoration: none;
}

.hero-title,
.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

html {
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link,
{
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* ================================ COLORS ================================*/

.header,
.header > .navigation-list-link,
.specials,
.what-we-do {
  color: var(--title-text-color);
  background-color: var(--white-color);
}

.hero,
.footer {
  background-color: #2f303a;
}

.team-section {
  background: #f5f4fa;
}

.logo-web,
.studio-link,
.navigation-contact {
  color: var(--special-color);
}

.header-phone,
.navigation-contact,
p,
body {
  color: var(--primary-text-color);
}

.hero-title,
.button,
.footer-logo-studio,
.address-link {
  color: var(--white-color);
}

.button {
  background-color: var(--special-color);
  border: none;
  min-width: 200px;
  padding: 10px;
  background: var(--special-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}


.logo-web > .logo-studio,
.header-logo-studio,
.navigation-list-link,
.our-team-title,
.our-job-title,
.section-name,
.uppercase,
.client-title{
  color: var(--title-text-color);
}

/* ================================ FONTS ================================*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-web,
.header-logo-studio,
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.navigation-contact,
.header-phone,
.navigation-list-link,
.footer-mail,
.footer-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.uppercase {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
}

.our-team-title,
.our-job-title,
.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.section-job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.address-link,
.navigation-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/* ================================HOVER AND FOCUS ================================*/

.header-logo-studio:hover,
.header-logo-studio:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link.studio-link:hover,
.navigation-list-link.studio-link:focus,
.footer-logo-studio:hover,
.footer-logo-studio:focus,
.navigation-contact:hover,
.navigation-contact:focus
{
  color: var(--special-color);
}


.studio-link:hover,
.studio-link:focus,
.button:hover,
.button:focus {
  color: #000000;
}

/* ================================ HEADER BLOCKS ================================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-items:not(:last-child) {
  margin-right: 50px;
}

.logo-web {
  margin-right: 92px;
}



.navigation-contact-icon {
  fill: currentColor;
}

.navigation-list .navigation-contact-icon{
  margin-right: 10px;
 

}

.navigation-list-items:not(:last-child) {
  margin-right: 30px;
}
/* ================================ HERO BLOCKS ================================*/
.hero {
  width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  height: 600px;
  padding-bottom: 94px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    )
    ,url("../images/hero.jpg") ;
  background-repeat: no-repeat;
}
.hero-title {
  margin-bottom: 30px;
}

.button {
  display: block;
  align-items: center;
  margin: 0 auto;
}

/* ================================ SPECIALS BLOCKS ================================*/

.specials-items {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.hidden-list-items:not(:last-child) {
  margin-right: 30px;
}

.uppercase {
  margin-bottom: 10px;
  margin-top: 94px;
}

.hidden-list-items {
  width: 270px;
}

.specials {
  padding-bottom: 94px;
}

/* ================================ WHAT-WE-DO BLOCKS ================================*/

.what-we-do-list {
  display: flex;
}

.our-job-title {
  padding-bottom: 50px;
}

.what-we-do-list-items:not(:last-child) {
  margin-right: 30px;
}

.what-we-do {
  padding-bottom: 94px;
}
/* ================================ OUR TEAM BLOCKS ================================*/

.our-team-title {
  margin-bottom: 50px;
}

.card-person-list:not(:last-child) {
  margin-right: 30px;
}

.card-person-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}


.our-team-items {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}
.our-team-items:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-name {
  margin-bottom: 10px;
}

.section-job {
  margin-bottom: 30px;
}

.social-list {
  display: flex;
}

.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color:var(--white-color);
  border-radius: 50%;
}


.social-list-link:hover, 
.social-list-link:focus {
  background-color: var(--special-color); 
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
  fill:var(--white-color);
}

.social-list-icon:hover,
.social-list-icon:focus
{
  fill: #ffffff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill:#AFB1B8;
}



.social-list__item:hover .social-list-icon,/* a + svg*/
.social-list__item:focus .social-list-icon
{
  fill: var(--white-color);
}

.social-list__item:hover, /* a*/
.social-list__item:focus {
background-color: var(--special-color);
}










.team-list-content-wrapper {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  justify-content: space-between; /* ПОЧЕМУ НЕ РАБОТАЕТ */
}

.social-list-item{  /* КОСТЫЛЬ space-between */
  display: flex;
  margin: 0 auto;
}



/* ================================ CLIENTS ================================*/

.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}








/* ================================ FOOTER BLOCKS ================================*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: center;
  
}
.logo-web {
  font-style: normal;
}

.logo-web-part {
  padding-bottom: 20px;
}

.address-items:not(:last-child) {
  margin-bottom: 9px;
}

.address{
  padding-right: 70px ;
}

.social{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-list__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.social-list__item:hover .social-list-icon,
.social-list__item:focus .social-list-icon
{
  fill: var(--white-color);
}

.social-list__item:hover,
.social-list__item:focus {
background-color: var(--special-color);

}

/* ================================ ICONS ================================*/



 /* для Постоянные клиенты указывать <svg width="" height="" 

 для инсты и тд обращаться через класс 

 создавать класс link и класс list отдельно с правилами и добавлять эти классы ко всем линкам/листам в будущем


#AFB1B8 цвет клиента 4 
