*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --special-color: #2196f3;
  --white-color: #ffffff;
}

/* var(--primary-text-color);*/

/* ================================ FEATURES ================================*/
.our-team-list,
.navigation-list-items,
.address-tel-phone-title,
.filters {
  list-style-type: none;
}

.navigation-list-link,
.navigation-list-link .studio-link,
.logo-web,
.header-mail,
.header-phone,
.address-link,
.footer-mail,
.footer-phone {
  text-decoration: none;
}

html {
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* ================================ COLORS ================================*/

.header,
.header > .navigation-list-link {
  color: var(--title-text-color);
  background-color: var(--white-color);
}

.footer {
  background-color: #2f303a;
}

.logo-web,
.studio-link,
.header-mail {
  color: var(--special-color);
}

.header-phone,
p,
body {
  color: var(--primary-text-color);
}

.hero-title,
.footer-logo-studio,
.address-link {
  color: var(--white-color);
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

.logo-web > .logo-studio,
.header-logo-studio,
.navigation-list-link {
  color: var(--title-text-color);
}

/* ================================ FONTS ================================*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-web,
.header-logo-studio,
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.header-mail,
.header-phone,
.navigation-list-link,
.footer-mail,
.footer-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.address-link,
.footer-mail,
.footer-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/* ================================HOVER AND FOCUS ================================*/

.header-logo-studio:hover,
.header-logo-studio:focus,
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link.studio-link:hover,
.navigation-list-link.studio-link:focus,
.header-phone:hover,
.header-phone:focus,
.footer-logo-studio:hover,
.footer-logo-studio:focus {
  color: var(--special-color);
}

.header-mail:hover,
.header-mail:focus,
.studio-link:hover,
.studio-link:focus,
.button:hover,
.button:focus {
  color: #000000;
}

/* ================================ HEADER BLOCKS ================================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-items:not(:last-child) {
  margin-right: 50px;
}

.logo-web {
  margin-right: 92px;
}

/* ================================ PORTFOLIO BLOCKS ================================*/

/* ================================ SPECIALS BLOCKS ================================*/

/* ================================ WHAT-WE-DO BLOCKS ================================*/

/* ================================ OUR TEAM BLOCKS ================================*/

/* ================================ FOOTER BLOCKS ================================*/

.logo-web {
  font-style: normal;
}

.logo-web-part {
  padding-top: 60px;
  padding-bottom: 20px;
}

.address-tel-phone-part {
  padding-bottom: 60px;
}

.address-items:not(:last-child) {
  margin-bottom: 9px;
}
